{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="home-title">
    <div class="row">
      <div class="col-md-12 ml- mt-4">
        Only about 1% of resumes make it past the first round of a job
        application. Be in the top 1%.
      </div>
    </div>
  </div>

  <div class="sub-title">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-4">
        Use professional field-tested resume templates that follow the exact
        ‘resume rules’ employers look for. Easy to use & done within minutes -
        try now for free!
      </div>
    </div>
  </div>

  <div class="sub-title">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="co-md-4">
        <div class="nav-item">
          <a class="nav-link button" href="{% url 'smart_resume:resumes' %}">Create My Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="animated-label counter-wrapper">
      <div class="counter-number ml-3 mr-2">100</div>resumes created today
    </div>
  </div>

  
</div>

{% endblock %}
